#song-details-div{
    /* visibility: hidden; */
    margin: auto;
    width: 50%;
    align-items: center;
}



#lyrics-div {
    /* visibility: hidden; */
    padding: 20px;
    text-align: center;
    width: 400px;
    line-height: 2.0;
    font-size: 15pt;
}

